.land-wrap{
    background-image: url(../images/laptopglow.jpg);
    background-size: cover;
    background-position: top;
}
.land-wrap h2{
    top: 35%;
}
.land-wrap p{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #F2F2F2;
    z-index: 1;
    font-family: 'Source Code Pro', monospace;
}
.land-wrap p span{
    width: 100%;
    text-align: center;
    font-size: 2.4em;
    color: #F2F2F2;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    animation: fadeIn 2500ms linear 0s 1 normal forwards;
    position: relative;
    bottom: 20px;
}
.land-wrap a{
    text-decoration: none;
    color: #E6E6FA;
    z-index: 1;
    position: relative;
    top: 20px;
}

@media only screen and (min-width:360px) and (max-width:375px){
.land-wrap p span{
    font-size: 1.1em;
    font-weight: 100;
    bottom:0px;
}   
.land-wrap p{
    font-size: 1em;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    color: #F2F2F2;
    z-index: 1;
    font-family: 'Source Code Pro', monospace;
}    
}